{% load static %}
<html>
<head>
<title>Plant Disease Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">ANALYSIS AND DETECTION OF PLANT LEAF DISEASE DETECTION USING MACHINE LEARNING</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'runCNN' %}">Train Deep CNN Algorithm</a></li>
	   <li><a href="{% url 'DiseasePrediction' %}">Plant Disease Detection</a></li>
	   <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<font size="" color="black"><center>{{ data }}</center></font>

	<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		 Plant Disease Predicition

</p>
</body>
</html>
